nav {
  transition: all 0.3s ease-in-out;

  .navbar-nav li {
    a {
      font-size: 1.5rem;
    }

    &:hover {
      border-bottom: 3.5px solid #bf3505;
      margin-bottom: -3.5px;
    }
  }

  .navbar-brand {
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: 200;
    font-size: 3rem;
    margin-left: 1rem;
  }
}

nav.minimized {
  border-bottom: 1pt solid darkslategrey;

  line-height: 0 !important;

  .navbar-brand {
    font-size: 2rem;
  }

  .navbar-collapse {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .dropdown-item {
    padding: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    .navbar-brand {
      font-size: 1.5rem;
    }

    .nav-link {
      padding: 1rem 0;
    }
  }
}
